<GurselConfig>
  <WebSiteUrl value="https://localhost:44362/"></WebSiteUrl>
  <ApiUrl value="http://localhost:33997/"></ApiUrl>

  <SqlConnectionString value="Data Source=(localdb)\MSSQLLocalDB;initial catalog=Northwind;integrated security=true"></SqlConnectionString>

  <SystemUserId value="1"></SystemUserId>
  
  <DefaultEmail value="aykutgursel@aykutgursel.com"></DefaultEmail>
  <DefaultPassword value="123456"></DefaultPassword>

  <RedisHost value="127.0.0.1"></RedisHost>
  <RedisPassword value=""></RedisPassword>
  <RedisPort value="6379"></RedisPort>
</GurselConfig>